.App {
    display: flex;
}

.Auth {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login {
    max-width: 400px;
    width: 100%;
}


.Main {
    width: 100%;
}


.Todo {
    width: 100%;
}

.TodoHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
}

.TodoContent {
    padding: 0 16px;
}